
@{
    ViewBag.Title = "TaiKhoan";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutPage1.cshtml";
}



@model List<HTC_SHOPVIP.Models.TaiKhoan>




<div class="table-header">
    Danh sách Tài Khoản
</div>

<div class="row">
    <div class="col-xs-12">


        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <form action="/QuanTriVien/TaiKhoan/TimKiemTenTaiKhoan">
            <input name="tentaikhoan" value="Tìm Kiếm" class="admin-timkiem" />
            <button class="admin-btn-timkiem" type="submit">Tìm kiếm</button>
        </form>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>Tên tài khoản</th>
                        <th>Mật Khẩu</th>

                        <th class="hidden-480">IsBuyer</th>
                        <th class="hidden-480">IsSeller</th>

                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td>
                                @item.tk
                            </td>
                            <td>@item.mk</td>

                            <td class="hidden-480">@item.isBuyer</td>

                            <td class="hidden-480">@item.isSeller</td>




                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">




                                    <a class="red" href="~/QuanTriVien/TaiKhoan/XoaTK?id=@item.tk">
                                        <span class="label label-danger label-white middle">  Xóa  </span>
                                    </a>
                                    <a href="~/QuanTriVien/TaiKhoan/XoaTK?id=@item.tk"><span class="label label-success arrowed ">Duyệt</span></a>
                                </div>


                            </td>
                        </tr>
                    }






                </tbody>
            </table>
        </div>
    </div>
</div>


