
@{
    ViewBag.Title = "BaoLoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lỗi không có quyền</h2>
<div class="alert alert-danger" role="alert">
    <strong>Cảnh báo !</strong> Bạn không có quyền truy cập
</div>

