@model HTC_SHOPVIP.Models.Slide_anh
@{
    ViewBag.Title = "testAPI";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>testAPI</h2>
<li>@Model.MaSlide</li>
<li>@Model.Linkanh</li>


