
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"> <h4 id="shopping-success">Đặt hàng thành công</h4></div>
    </div>
</div>


